@font-face {
	font-family: "PixelMplus12-Regular";
	src: url(./fonts/PixelMplus12-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "PixelMplus10-Regular";
	src: url(./fonts/PixelMplus10-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "PixelMplus12-Bold";
	src: url(./fonts/PixelMplus12-Bold.ttf) format("truetype");
}

@font-face {
	font-family: "PixelMplus10-Bold";
	src: url(./fonts/PixelMplus10-Bold.ttf) format("truetype");
}

body {
	background-color: #000000;
	font-family: "PixelMplus10-Regular", monospace;
	margin: 0;
	padding: 0;
	position: relative;
	color: #fff1e8;
}

h1 {
	color: #ffccaa;
}

h1,
h2,
h3,
h4 {
	font-weight: 400;
	font-family: "PixelMplus12-Bold", monospace;
}

.AppContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.Grid,
#SnakeGrid {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.Grid:focus {
	outline: none;
}

.Row {
	float: left;
}

.Square,
.Flipped {
	background-color: #1d2b53;
	text-align: center;
	width: 32px;
	height: 32px;
	border: #000000 solid 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace;
}

.SnakeSquare {
	background-color: #1d2b53;
	width: 32px;
	height: 32px;
	border: #000000 solid 1px;
	display: block;
	padding: 0;
}

.Flipped {
	background-color: #000000;
}

.OneClose {
	color: blue;
}
.TwoClose {
	color: green;
}
.ThreePlusClose {
	color: red;
}

.Square:hover {
	background-color: #83769c;
}

.GameOver {
	color: white;
}

#SnakeGrid:focus {
	outline: none;
}

.snakeIcon,
.mineIcon {
	width: 32px;
	height: 32px;
}

#navBar {
	position: sticky;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: #5f574f;
}

#navBar li {
	display: inline;
}

#navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navBar a {
	text-decoration: none;
	height: 100%;
	display: inline-block;
	padding: 10px 12px 10px 12px;
	color: #fff1e8;
	background-color: #5f574f;
}

#navBar .chosenLink a {
	background-color: #fff1e8;
	color: #5f574f;
}

#navBar a:hover {
	background-color: #fff1e8;
	color: #5f574f;
}

#homeDiv {
	display: flex;
}

#snakesweeperTitle,
.homeDivGridItem h2,
.gameTitle {
	text-align: center;
}

.homeDivGridItem {
	margin: 15px;
	padding: 15px;
	background-color: #5f574f;
	border: 2px #fff1e8 solid;
}

.homeDivGridItem img {
	max-width: 300px;
}
