body {
	background-color: #111;
	font-family: "IBM Plex Sans", sans-serif;
	margin: 0;
	padding: 0;
  position: relative;
  color: #bbb;
}

.AppContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.Grid,
#SnakeGrid {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.Grid:focus {
	outline: none;
}

.Row {
	float: left;
}

.Square,
.Flipped {
	background-color: #aaa;
	text-align: center;
	width: 30px;
	height: 30px;
	border: #888 solid 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
}

.SnakeSquare {
	background-color: #c2c3c7;
	width: 32px;
	height: 32px;
	border: #5f574f solid 1px;
	display: block;
	padding: 0;
}

.Flipped {
	background-color: #ddd;
	color: #bbb;
}

.OneClose {
	color: blue;
}
.TwoClose {
	color: green;
}
.ThreePlusClose {
	color: red;
}

.Square:hover {
	background-color: #888;
	border: #888 solid 1px;
}

.GameOver {
	color: white;
}

.snakeIcon {
	width: 32px;
	height: 32px;
}

#SnakeGrid {
	border: #5f574f solid 1px;
}

#navBar {
	position: sticky;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: #222;
}

#navBar li {
	display: inline;
}

#navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navBar a {
	text-decoration: none;
	height: 100%;
	display: inline-block;
	padding: 10px 12px 10px 12px;
	color: #bbb;
	background-color: #222;
}

#navBar .chosenLink a {
	background-color: #bbb;
	color: #222;
}

#navBar a:hover {
	background-color: #bbb;
	color: #222;
}
